@import "components/header";
@import "components/sidebar";
@import "components/tab-list";
@import "components/filter";
@import "components/transfer";

img {
  transition: all .5s;
}

main {
  margin-top: 45px;
  padding-top: 1rem;

  .main-content {
    width: calc(100% - 90px);
    padding: 1rem;
    margin-right: 90px;
    .tab-content {
      margin-top: 1rem;
    }
  }
}

@media (max-width: 575.98px) {
  main {
    .main-content {
      width: 100%;
      padding: 0;
      margin-right: 0;
      .tab-content {
        margin: 0;
        margin-bottom: 5rem;
        position: relative;
        top: 4rem;
      }
    }
  }
}
